<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Project 2 - Stephen O'Toole</title>
        <link rel="stylesheet" type="text/css" href="../style.css"/>
    </head>
    <body>
        <!-- NAVIGATION BAR START -->
        <%- include("navigation", {active: "Images"}) %>
        <!-- LOGIN BAR END-->

        <!-- MAIN CONTENT START -->
        <div class = "container">
            <h1>Browse all images below...</h1>
            <p> Click an image for more information.</p>
        </div>

        <!-- TABLE START -->
        <div class = "containertable brightness">
            <% if(pictures.length > 0) {%>
            <h2>All Images</h2>
            <table style="width:100%">
            <% for(var key in pictures) {%>
            
                <tr>
                   <a href="../image/<%= uploadedId[key] %>"><img border="0" alt="image" src="<%= pictures[key]%>"  width="200" height="200"></a>
                </tr>
            
            <% } %>
            </table>
            <% } %>
        </div>
        <!-- TABLE END -->

        <!-- MAIN CONTENT END -->

    </body>
</html>
